<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./static/skelton.css">

  <style type="text/css">
    div {
      margin: 30px;
    }
  </style>
</head>

<body>
  <a class="button" target="_blank" href="./entry.html">記事</a>
  <a class="button" href=".#">コメント {{ .CCount }} 件</a>
  <a class="button" target="_blank"href="./news.html">ニュース {{ .NCount }} 件</a>

  <div class="row"></div>
  <div class="two columns">
    <form onsubmit="return false;">
      <label for="searchbox">検索</label>
      <input id="searchbox" type="text" name="pattern" size=40 placeholder="半角スペース区切りで AND 検索" />
    </form>
  </div>

  <!-- 検索結果の表示エリア -->
  <div class="ten columns" id="view_area"></div>
  </div>

  <script src="./static/incsearch.js"></script>
  <script>
    // 検索対象のデータ(配列)
    const commentList = [
      {{ range .Comments }}
    ["{{ .Num -}}", "{{ .Title -}}", "{{ .Text -}}", "{{ .Author -}}"],
      {{ end }}
    ['Num', 'Title', 'Text', 'Author']
    ];

    // wondow の onload イベントに追加
    var start = function () {
      new IncSearch.ViewTable(
        'searchbox', // 入力が行われるエレメントの ID
        'view_area', // 検索結果を表示するエレメントの ID
        commentList, // 検索対象のリスト
        {
          dispMax: 0,
          startElementText: '<table><tr><th width="10%">No.</th><th width="20%">Title</th><th width="60%">Comment</th><th width="10%">Author</th>'
        }
      )
    };
    window.addEventListener ?
      window.addEventListener('load', start, false) :
      window.attachEvent('onload', start);
  </script>

</body>

</html>