<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./static/skelton.css">

  <style type="text/css">
    h1,
    h2 {
      font-size: 140%;
      font-weight: normal;
    }

    div {
      margin: 30px;
    }
  </style>
  <title>{{ .Title }}</title>
</head>

<body>
  <a class="button" href="#">記事</a>
  <a class="button" target="_blank" href="./comments.html">コメント {{ .CCount }} 件</a>
  <a class="button" target="_blank"href="./news.html">ニュース {{ .NCount }} 件</a>

  <h1>{{ .Title }}</h1>

  <h2>
    <a href="{{ .URLStr }}" target="_blank">{{ .URLStr }}</a>
  </h2>

  {{ range .Body }}

  <div>{{ . -}}</div>

  {{ end }}

</body>

</html>