<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./static/skelton.css">

  <style type="text/css">
    div {
      margin: 30px;
    }
  </style>
</head>

<body>
    
    <a class="button" target="_blank" href="./entry.html">記事</a>
    <a class="button" target="_blank" href="./comments.html">コメント {{ .CCount }} 件</a>
    <a class="button" href="#">ニュース {{ .NCount }} 件</a>

    <ul>

    {{ range .News }}

    <li>
      {{ .Date }}
      <a href="{{ .URLStr }}" target="_blank"> {{ .Title }} </a>
    </li>

    {{ end }}

  </ul>


</body>

</html>